body {
    background-color: peru;
    text-align: center;
    color: black;
}
h1 {
    font-size: 40px;
    border-style: dashed;
    padding: 15px; 
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
}
.form {
    border-style: ridge;
    padding: 11px; 
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
}
ul {
    text-align: left;
    font-weight: bold;
}